body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenido {
  padding: 30px;
  text-align: center;
}

.pie-pagina {
  display: flex;
  justify-content: space-between;
  background-color: #3374a8;
  color: white;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.pie-pagina .seccion {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.pie-pagina .seccion h3 {
  border-bottom: 1px solid #529bdf56;
  padding-bottom: 5px;
}

.pie-pagina .seccion a {
  color: #4fc3f7;
  text-decoration: none;
}
